<% provide(:title, 'About') %>
<h1>About</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. At quaerat aspernatur
  asperiores optio quam praesentium reprehenderit blanditiis placeat quae expedita
  quia voluptatibus unde ea iste, eum, repellat voluptatum sapiente facere.
</p>
