<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia dolores
  explicabo labore earum ipsam, accusamus, deleniti natus. Consequatur mollitia,
  accusamus non ad ipsa, numquam harum vitae laboriosam quisquam quibusdam ipsam!
</p>