<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi praesentium
  adipisci earum illo, ipsum dicta tempora pariatur ea incidunt laborum!
  Nostrum unde architecto obcaecati possimus officia laboriosam similique
  perferendis libero!
</p>