<% provide(:title, 'Home') %>
<div class="jumbotron">
  <h1>Shouter</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, at.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, facilis.
  </p>
  <%= link_to 'Register Now', register_path, class: 'btn btn-lg btn-primary btn-outline' %>
</div>
