<nav class="navbar navbar-inverse navbar-fixed-top bs-docs-nav">
  <div class="container">
    <%= link_to 'Shouter', '#', class: 'navbar-brand' %>
    <nav>
      <ul class="nav navbar-right navbar-nav">
        <li><%= link_to 'Home',  root_path %></li>
        <li><%= link_to 'Help',  help_path %></li>
        <li><%= link_to 'Login', '#' %></li>
      </ul>
    </nav>
  </div> <!-- end div.container -->
</nav> <!-- end header -->